*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0!important;
}
.row{
    margin: 0!important;
}
/* -------------------------------------- top header ---------------------------------*/
div#top-header {
    width: 100%;
    height: 40px;
    background: #03A9F4;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
}
#top-header a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
#top-header a:hover{
    font-weight: bold;
}
/* -------------------------------------- main header ---------------------------------*/
div#main-header {
    width: 100%;
    text-align: center;
    border-bottom: 2px double #03a9f4;
}
#main-header h3{
    text-transform: uppercase;
    font-weight: bold;
    color: #03A9F4;
    margin: 0;
    line-height: 70px;
    padding: 0;
}
/* -------------------------------------- khoi noi dung chinh ---------------------------------*/
#main{
    width: 100%;
    min-height: 500px;
    position: relative;
}
#main #side-bar{
    width: 100%;
    background: #03A9F4;
    padding: 0;
}
#main #side-bar h4{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
    background: rgb(2, 127, 185);
    font-size: 18px;
}
#main #side-bar ul li{
    list-style: none;
    padding: 15px 0;
    text-indent: 10px;
    background: #03A9F4;
    transition: 0.4s;
    cursor: pointer;
    border-bottom: 1px dotted #fff;
}
#main #side-bar ul li:hover, #main #side-bar ul li.active{
    background: rgb(6, 132, 190);
    text-indent: 15px;
}
#main #side-bar ul{
    margin: 0;
}
#main #side-bar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
thead tr {
    background: #027fb9;
    color: #fff;
}
.ghiChu{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.blockGhiChu {
    width: 50px;
    height: 27px;
    background: #607d8b;
    display: inline-block;
}
tr i.fa-ban:hover {
    color: red!important;
}
/* --------------------------------------vung content ---------------------------------*/
#main #content{
    padding: 10px;
    min-height: 700px;
}
#main #content .Title{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
#content .them a{
    color: #03A9F4!important;
    text-decoration: none;
}
#content .them:hover a{
    color: #fff!important;
}
#content a{
    color: #000!important;
}
#content .them{
    color: #03A9F4;
    border: 1px solid #03A9F4;
}
#content .them:hover{
    background: #03A9F4;
    color: #fff;
}
#content .search{
    margin-bottom: 15px;
}
#content .search form{
    width: 100%;
}
#content .search form input{
    width: 89%;
    text-indent: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #03a9f4;
}
#content .search form button{
    width: 11%;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #339AF0;
}
#content .table i:hover{
    font-weight: bold;
    color: #03A9F4;
    cursor: pointer;
}
#content .table .moTa{
    height: 84px;
    overflow-y: scroll;
    display: block;
}
#content .logo img{
    width: 50px;
}
#content .hinhAnh img{
    width: 50px;
}

.frmThemSP .hinhAnh {
    text-align: center;
}

.frmThemSP img.hinhSach {
    width: 25%!important;
}
#content .daXoa{
    background: #777777;
}
#content .dangXuLy{
    background: red;
}
#content .dangGiao{
}
#content .daGiao{
}
#content .daHuy{
    background: #777;
}
#content .tongTien{
    font-weight: bold;
    color: red;
}
#content .btnThem{
    margin: 15px 0;
}
table.table-frm-create {
    margin: auto;
}
table.table-frm-create b{color: red;}
p.titleFrm{
    color: #03A9F4;
    font-weight: bold;
}
input[type="submit"] {
    margin: 15px auto;
    display: flex;
}
input[type="text"],input[type="password"], select{
    border: none;
    border-bottom: 1px solid #03A9F4;
}
/*-------------------------------- them san pham----------------------------------------*/
form.frmThemSP {
    width: 100%;
}
form.frmThemSP input, form.frmThemSP select, form.frmThemSP textarea{
    border: none;
    border-bottom: 1px solid #03A9F4;
    padding: 20px 0;
    width: 100%;
    height: 64px;
}
form.frmThemSP input:focus, form.frmThemSP select:focus, form.frmThemSP textarea:focus{
    outline: none;
    border-bottom: 3px solid #03A9F4;
}
form.frmThemSP textarea{
    min-height: 400px;
    border: 1px solid #03A9F4;
    margin-top: 15px;
}
.logoNXB {
    text-align: center;
}
.logoNXB img.hinhNXB, img.hinhSach{
    width: 200px;
}
.row.phanTrang {
    text-align: center;
}

#content .row.phanTrang a, .row.phanTrang span {
    text-decoration: none;
    padding: 5px 12px;
    background: #141515;
    color: #fff!important;
    border-radius: 50px;
    transition: 0.4s;
}

#content .row.phanTrang a:hover {
    cursor: pointer;
    background: #339af0;
}

.row.phanTrang span {
    background: #339af0;
}
.blockGhiChuTT{
    width: 40px;
    height: 15px;
    background: #4CAF50;
    display: block;
    float: left;
    margin-top: 5px;
}

span.dangChoXuLy, .blockGhiChuTT1 {
    background: #FFEB3B;
}

span.dangDongGoi, .blockGhiChuTT2 {
    background: #8BC34A;
}

span.dangGiao, .blockGhiChuTT3 {
    background: #0cc2b1;
}

span.daGiao, .blockGhiChuTT4 {
    background: #9C27B0;
}
span.daHuy, .blockGhiChuTT5 {
    background: rgb(138, 138, 138);
}
#content .barGhiChu{
    padding: 10px;
}
input.capNhatTinhTrang {
    padding: 20px 0;
    width: 100%;
    height: 30px;
}
.pInPhieu{
    margin: 0;
}    
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
/* ------------------------------------------- footer -------------------------------------*/
#footer{
    background: #339AF0;
    text-align: center;
}
#footer p{
    margin: 0;
    line-height: 41px;
    color: #fff;
}
/* css them tu class tao trong admin.js*/
tr.trangThaiXoa1{
    background: #607D8B;
    color: #8e9fa7;
}

tr.trangThaiXoa1 img {
    filter: grayscale(100%);
}

tr.trangThaiXoa1 i {
    color: #8e9fa7;
}
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #339AF0; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(37, 136, 216); 
}
::selection{
    background: #339AF0;
}